//
// Variables
//

// Typography


// Colors


// Neat variables
$max-width: 1200px;
$grid-colums: 13;

// Breakpoints

// Sprite Mixin default image name
$sprite-default: "../images/global-sprite";
